{{> header}}

<div class="wrapper">
         <div class="title create">
            Add Trip
         </div>
         <form action="#/create" method="POST">
         <div class="field">
               <input type="text"  name ="firstName" required>
               <label>First Name</label>
            </div>
            <div class="field">
               <input type="text" name="lastName" required>
               <label>Last Name</label>
            </div>
             <div class="field">
               <input type="text" name="title" required>
               <label>Trip Title</label>
            </div>
            <div class="field">
               <input type="text-area" name="description" required>
               <label>Description</label>
            </div>
         <div class="field">
               <input type="text"  name ="destinationFrom" required>
               <label>Destination from</label>
            </div>
            <div class="field">
               <input type="text" name="destinationTo" required>
               <label>Destination to</label>
            </div>
            <div class="field">
               <input type="date"  name ="date" placeholder="none" required>
               <label>Date</label>
            </div>
            <div class="field">
               <input type="number" min="0" max="25" name ="persons" required>
               <label>Persons</label>
            </div>
            <div class="field">
               <input type="submit" value="Create">
            </div>
            </form>
      </div>

      {{> footer}}