@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

html {
  background: url('../images/banner.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Amaranth;
}

a{
  text-decoration: none;
}

p{
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.button-49 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-49 {
    padding: 19px 32px;
  }
}

.button-49:before,
.button-49:after {
  border-radius: 80px;
}

.button-49:before {
  background-image: linear-gradient(92.83deg, #26e6ff 0, #6a74a1 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-49:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-49:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, #26e6ff 0, #6a74a1 100%);
}

.button-49:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-49:active:not(:disabled) {
  color: #ccc;
}

.button-49:active:not(:disabled):before {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-49:active:not(:disabled):after {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.2) 100%
  );
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-49:disabled {
  cursor: default;
  opacity: 0.24;
}

.header {
  
}

.header-nav-item {
  display: flex;

  margin: 2px 2px;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

body #container .header-nav-item-title {
  font-size: 32px;
  text-decoration: none;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 8px red;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: oblique;
  margin: 2px 2px;
  padding: 5px 30px;
  border-radius: 6px;
}

.header-nav-item-title:hover {
  color: red;
  text-shadow: 2px 2px 8px white;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  list-style-type: none;
  margin: 10px 5px;
  padding: 12px 0px;
  border-radius: 6px;
}

.header-nav-list-item button a {
  color: white;
}

.guest {
  text-align: center;
  color: white;
  background-color: cornflowerblue;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 18px;
  box-shadow: 3px 3px 0 3px white;
}

.wrapper{
    margin: 50px auto;
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }
  .wrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  .wrapper form{
    padding: 10px 30px 50px 30px;
  }
  .wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  .wrapper form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid{
    border-color: #4158d0;
  }
  .wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
  }
  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content input{
    width: 15px;
    height: 15px;
    background: red;
  }
  form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }
  form .content .pass-link{
    color: "";
  }
  form .field input[type="submit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
  }
  form .field input[type="submit"]:active{
    transform: scale(0.95);
  }
  form .signup-link{
    color: #262626;
    margin-top: 20px;
    text-align: center;
  }
  form .pass-link a,
  form .signup-link a{
    color: #4158d0;
    text-decoration: none;
  }
  form .pass-link a:hover,
  form .signup-link a:hover{
    text-decoration: underline;
  }

  .notification {
    position: fixed;
    z-index: 10;
    top: 6rem;
    right: 5rem;
    margin: 1rem auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px rgb(204, 204, 204);
    display: none;
}

.search{
  display: flex;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.1);
  margin: 50px auto;
    width: 480px;
    
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    padding:20px;
    align-items: center;
  
}

.tripDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  flex-basis: 20%;
  margin: 30px;
  border-radius: 10px;
}


.detailButtons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.button-49 .delete{
  
}

.search button{
  padding:0;
  margin: 0;
  font-size: 12px;
  max-height: 9px;
  min-height: 36px;
  min-width: 66px;
}

.search .title{
  font-size: 22px;
  text-align: center;
  color: white;
}

.search input{
  border-radius: 5px;
  padding: 10px
}

.loadingBox {
    background: #7CB3E9;
}

.infoBox {
    background: #393;
}

.errorBox {
    background: #F50;
}

footer {
  background: #1b9772;
  position: fixed;
  padding: 10px 10px ;
  bottom: 0;
  width: 100%;
  justify-content: center;
  height: 20px;
  background: grey;
  
}

.footer p {
  color: #55b395;
  margin: auto;
  text-align: center;
}

.trip{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  flex-basis: 20%;
  margin: 30px;
  border-radius: 10px;
}

.trip h1, .tripDetails h1{
  width: 100%;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  text-align: center;
  padding: 25px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  color: white;
  
}

.added-destinations{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.trip p{
  margin: 20px;
}

.trip h1{
  font-size: 23px;
}

.trip button a {
  color: white;
}
.trip button{
  width: 80%;
  margin-bottom: 10px;
}

.tripDetails button{
  
  margin-bottom: 10px;
}

.tripDetails button a {
  color: white;
  text-align: center;
  text-decoration: none;
}


