<section class="search">
    <div class="title">
            Search Trip
         </div>
    <form action="#/search" >
        <input type="text" placeholder="from..." name="from">
        <input type="text" placeholder="to..." name="to">
        <button type="submit" value="Search" class="button-49">Search</button>
    </form>
</section>