<header class="header">
        <nav class="header-nav">
            <article class="header-nav-item">
                <a href="/home" class="header-nav-item-title">
                    Trip with me
                   <img src="./logo2.png" alt="">
                </a>
            </article>
            
            <ul class="header-nav-list">
                {{#if loggedIn}}
                <li class="header-nav-list-item">
                    <button class="button-49">
                        <a href="/create">Add Trip</a>
                    </button>
                </li>
     <li class="header-nav-list-item">
                    <button class="button-49">
                        <a href="/all">All Trips</a>
                    </button>
                </li>
                <li class="header-nav-list-item">
                    <button class="button-49">
                        <a href="myTrips">My Added Trips</a>
                    </button>
                </li>
                <li class="header-nav-list-item">
                    <button class="button-49">
                        <a href="myJoined">My Joined Trips</a>
                    </button>
                </li>
                <li class="header-nav-list-item">
                    <button class="button-49">
                        <a href="/logout">Logout</a>
                    </button>
                </li>
   {{else}}
    <li class="header-nav-list-item">
                    <button class="button-49">
                        <a href="/login">Login</a>
                     </button>
                </li>
                <li class="header-nav-list-item">
                   <button class="button-49">
                    <a href="/register">Register</a>
                   </button>
                </li>
    {{/if}}
               
               
                </ul>
        </nav>
    </header>