<div class="wrapper">
         <div class="title create">
            Join to Trip
         </div>
         <form action="/create" method="POST">
         <div class="field">
               <input type="text"  name ="firstName" required>
               <label>First Name</label>
            </div>
            <div class="field">
               <input type="text" name="lastName" required>
               <label>Last Name</label>
            </div>
        
            <div class="field">
               <input type="submit" value="Add">
            </div>
            </form>
      </div>